// Mobile
@media (max-width: $breakpoint - 1px) {
  .menubar--desktop {
    display: none;
  }
}

// Desktop
@media (min-width: $breakpoint) {
  .menubar--mobile {
    display: none;
  }
}

// Mobile AND Desktop
.menubar--wrapper {
  background-color: #0097A7;
  min-height: 3.5em;
}

.menubar__button--regular {
  display: flex;
  justify-content: center;
}

.menubar__button--link {
  margin-right: 15px;
  min-height: 15px;
  color: #000000;
  font-weight: 300;
}


.nav-item {
  display: flex;
  justify-content: center;
}


.menubar__button--close {
  width: 100%;
}
